@import '~antd/dist/antd.css';
@import url('./vendor/fonts/robert-sans-cufonfonts-webfont/fonts.css');


.App {
  font-family: 'Robert Sans Medium', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  background-color: #000;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
