.ChatPlayer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0px 5px 5px 5px;
  align-items: stretch;
  min-height: 100vh;
  align-content: center;
}
