<script defer src="/js/script.js"></script>

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<script src="https://cdn.bootcss.com/flv.js/1.5.0/flv.min.js"></script>
<button id="play">play</button>
<video id="videoElement"></video>
<video id="movie" controls width="460" height="306" preload autoplay>
  <source src="/api/streams/62" type="video/mp4" />
  <!-- HERE THE CODE FOR THE ALTERNATIVE PLAYER (FLASH) WILL BE! -->
</video>

<script>
  const URLparts = window.location.host.split(':');
  if (URLparts.length > 1) URLparts.pop();
  const home = URLparts.join(':');

  async function go() {
    if (!flvjs.isSupported()) return;

    const streams = await fetch(`${window.location.origin}/api/streams/`);
    const data = await streams.json();
    if (data.length) {

      const urlParts = [];
      urlParts.push('ws://');
      urlParts.push(home);
      urlParts.push(':8000');
      urlParts.push(data[0].source)

      var videoElement = document.getElementById('videoElement');
      var flvPlayer = flvjs.createPlayer({
        type: 'flv',
        url: urlParts.join(''),
      });
      flvPlayer.attachMediaElement(videoElement);
    } else {
      alert('no one is streaming');
    }
    document.getElementById('play').addEventListener('click', () => {
      try {
        flvPlayer.load();
        flvPlayer.play();
      } catch (err) {
        flvPlayer.unload();
        flvPlayer.pause();
      }
    })
  }

  go();

</script>