<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Message" aria-label="WS message"
    aria-describedby="button-addon2">
  <button class="btn btn-outline-secondary" type="button" id="button-addon">Send</button>
</div>
<script defer src="javascripts/index.js"></script>
