<script defer src="/js/script.js"></script>

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<script src="https://cdn.bootcss.com/flv.js/1.5.0/flv.min.js"></script>
<button id="play">play</button>
<video id="videoElement"></video>
<script>
  const URLparts = window.location.host.split(':');
  if (URLparts.length > 1) URLparts.pop();
  const home = URLparts.join(':');

  if (flvjs.isSupported()) {
    var videoElement = document.getElementById('videoElement');
    var flvPlayer = flvjs.createPlayer({
      type: 'flv',
      url: `ws://${home}:8000/live/A.flv`
    });
    flvPlayer.attachMediaElement(videoElement);
  }

  document.getElementById('play').addEventListener('click', () => {
    try {
      flvPlayer.load();
      flvPlayer.play();
    } catch (err) {
      flvPlayer.unload();
      flvPlayer.pause();
    }
  })
</script>
