.signup-form-button {
  display: flex;
  justify-content: center;
  align-items: center;
    color: rgb(255, 255, 255);
    position: relative;
    background-color: rgb(238, 69, 64);
    height: 39px;
    width: 200px;
    border-radius: 15px;
    border: none;
}

.signupFormText {
  color: rgb(255, 255, 255);
  margin-block: 10px;

}

.errorText {
  color: rgb(238, 69, 64);
  margin-block: 10px;
}

.signup-form-card {
  background-color:#262626;
  border-radius: 15px;
  border-color:#434343;
}

.signup-input {
  background-color: #1c1c1c;
	color: #fff;
	width: 300px;
	border: 1px solid #3c3c3c;
	padding: 10px 10px 10px 40px;
	border-radius: 15px;
}

.signupFormTextBottom {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  /* margin-block: 10px; */
}

.ant-form-item-control-input-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
