.signup-form {
  margin-block: 10px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  max-width: 100%;
}

.signup-form-button {
  color: rgb(255, 255, 255);
  position: relative;
  background-color: rgb(238, 69, 64);
  height: 39px;
  width: 200px;
  border-radius: 15px;
  border: none;
}

.signupFormText {
  color: rgb(255, 255, 255);
  margin-top: 10px;
  margin-bottom: 40px;
}

.signup-form-card {
  background-color:#262626;
  border-radius: 15px;
  border-color:#434343;
  z-index: 99999;
  box-shadow: 0 15px 50px #434343;
  max-width: fit-content;
  padding: 35px;
}

.signup-input {
  background-color: #1c1c1c;
	color: #fff;
	width: 300px;
	border: 1px solid #3c3c3c;
	border-radius: 5px;
}

.veshatel {
  color: rgb(238, 69, 64);
}

.signUpContainer {
  place-items: center;
  display: flex;
  justify-content: center;
  height: 750px;
}

.signupFormTextBottom {
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  margin-top: 10px;
  height: 10px;
}

.ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input, .ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input:hover {
  background-color: #1c1c1c;
  border-color: #ff4d4f;
}

.signupSubContainer{
  height: 50px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.errorText {
  color: rgb(238, 69, 64);
  margin-block: 10px;
}
