/* Chat containers */
.containerMessage {
  margin: 2px 0px 2px 0px;
  text-align: left;
  padding-left: 10px;
}
.containerMessage p {
  text-align: left;
  padding: 5px 0px 0px 5px;
}

.containerMessage span {
  padding-right: 10px;
  float: right;
}

/* Clear floats */
.containerMessage::after {
  content: "";
  clear: both;
  display: table;
}

/* Style time text */
.message-right {
  border-radius: 8px;
  color: #aaa;
  background: #262626;
}

.message-left {
  border-radius: 8px;
  color: #999;
  background-color: #323232;
}

.message-right  img{
  float: left;
  padding: 5px;
  max-width: 60px;
  width: 100%;
  margin-right: 10px;
  border-radius: 50%;
}

.message-left  img{
  float: right;
  padding: 5px;
  max-width: 60px;
  width: 100%;
  margin-right: 10px;
  border-radius: 50%;
}

.chat-messages {
  display:flex;
  flex-direction: column;
  height: 75vh;
  overflow: auto;
  overflow-x: hidden;
  padding: 0px 3px 0px 3px;
}

.chatList {
  min-width: 28%;
}

.chat__form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 5px 0px 5px;
 }
 

.chat__input {
  border: none;
  border-bottom: 1px solid #ee4540;
  background-color: #000;
  color: #fff;
  min-width: 80%;
}

.chat__input:focus {
  outline: 1px solid #ee4540;
  box-shadow: 1px 1px 28px #ee4540;
  border: 1px solid #ee4540;
  border-radius: 1px;
}

.chat__sendMsgButton {
  border: 1px solid #ee4540;
  background-color: transparent;
  color: #fff;
  padding: 5px 10px;
  border-radius:5px;
  margin-left: 8px;
  transition: .2s transform ease;
}

.chat__sendMsgButton:hover {
  background-color: #ee4540;
  transform: scale(1.1);
}

@media screen and (max-width: 950px) {
  .chatList {
    min-width: 71vw;
  }
}
