/* Chat containers */
.containerMessage {
  border: 2px solid #ee4540;
  background-color: #323232;
  border-radius: 15px;
  padding: 2px;
  margin: 2px 0;
  width: 20vw;
  height: 60px;
  color:#fff;
  position: sticky;
  top: 70px;
  right: 0;
}

/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: #ddd;
}

/* Clear floats */
.containerMessage::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.containerMessage img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;

}

/* Style the right image */
.containerMessage img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
}

.chat-messages {
  overflow: auto;
  height: 87vh;
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0;
  overflow-x: hidden;

}

.chatList {
  overflow: auto;
  display: flex;
  justify-content: flex-end;
}

.chat__input {
  width: 350px;
  border: none;
  border-bottom: 1px solid #ee4540;
  background-color: #000;
  color: #fff;
  padding: 5px 0;
}

.chat__input:focus {
  outline: 3px solid #ee4540;
  box-shadow: 3px 2px 35px #ee4540;
  border: 2px solid #ee4540;
  border-radius: 5px;

}

.chat__sendMsgButton {
  border: 2px solid #ee4540;
  background-color: transparent;
  color: #fff;
  padding: 5px 20px;
  border-radius: 10px;
  margin-left: 20px;
  transition: .4s transform ease;
}

.chat__sendMsgButton:hover {
  background-color: #ee4540;
  transform: scale(1.1);
}

.chat__form {
  margin-bottom: 87px;
}


