/* Chat containers */
.containerMessage {
  border: 1px solid #ee4540;
  border-radius: 8px;
  margin: 2px 0px 2px 0px;
  background-color: #323232;
}

/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: #ddd;
}

/* Clear floats */
.containerMessage::after {
  content: "";
  clear: both;
  display: table;
}

/* Style the right image */
.containerMessage img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* Style time text */
.message-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.message-left {
  float: left;
  color: #999;
}

.chat-messages {
  display:flex;
  flex-direction: column;
  height: 75vh;
  overflow: auto;
  overflow-x: hidden;
  padding: 0px 3px 0px 3px;
}

.chatList {
  min-width: 28vw;
  max-width: 28vw;
}

.chat__input {
  border: none;
  border-bottom: 1px solid #ee4540;
  background-color: #000;
  color: #fff;
  min-width: 80%;
}

.chat__input:focus {
  outline: 1px solid #ee4540;
  box-shadow: 1px 1px 28px #ee4540;
  border: 1px solid #ee4540;
  border-radius: 1px;
}

.chat__sendMsgButton {
  border: 1px solid #ee4540;
  background-color: transparent;
  color: #fff;
  padding: 5px 10px;
  border-radius:5px;
  margin-left: 8px;
  transition: .2s transform ease;
}

.chat__sendMsgButton:hover {
  background-color: #ee4540;
  transform: scale(1.1);
}
