.ant-card {
  color: #ffffff;
  border-color: #3c3c3c;
}

.ant-card-meta-title {
  color: #ffffff;
}

.anticon svg {
  color: #ffffff;
}

.ant-card-actions {
  background-color: #3c3c3c;
}

.streamStatsUl {
  list-style-type: none;
}
