.login-form {
    margin-block: 10px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    max-width: 100%;
}


.login-form-button {
    color: rgb(255, 255, 255);
    position: relative;
    background-color: rgb(238, 69, 64);
    height: 39px;
    width: 200px;
    border-radius: 15px;
    border: none;

}

.loginFormText {
  color: rgb(255, 255, 255);
  margin-bottom: 50px;
}

.errorText {
  color: rgb(238, 69, 64);
  margin-block: 10px;
}

.login-form-card {
  background-color:#262626;
  border-radius: 15px;
  border-color:#434343;
    z-index: 99999;
    box-shadow: 0 15px 50px #434343;
    width: 100px;
    height: 100px;
}

.login-input {
  background-color: #1c1c1c;
	color: #fff;
	width: 220px;
	border: 1px solid #3c3c3c;
	border-radius: 5px;
}

.veshatel {
    color: rgb(238, 69, 64);
}

.subContainer{
    height: 100px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
*/
